<table border="0" style="font:16px/18px Arial,sans-serif;">
    <tr>
        <td colspan="2"><img alt="NEXT Berlin 2012" src="${play.Play.configuration.get("application.baseUrl")}WiFi/public/images/logos/lg_next.png" width="152" height="75" /></td>
        <td colspan="2" style="text-align:right;vertical-align:top"><img alt="DREISECHSNULL - Deutsche Telekom AG" src="${play.Play.configuration.get("application.baseUrl")}/WiFi/public/images/logos/lg_dsn.jpg" width="468" height="90" /></td>
    </tr>
    <tr>
        <td colspan="4" style="height:10px"></td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2" style="background:#e9e9e9;height:1px"></td>
        <td></td>
    </tr>
    <tr>
        <td colspan="4" style="height:20px"></td>
    </tr>
    <tr>
        <td style="width:27px" rowspan="2"></td>
        <td colspan="2" style="font-size:24px;font-weight:bold;">
            Your authentication code for the NEXT12 Wi-Fi<br /><br /><br />
        </td>
        <td style="width:27px" rowspan="2"></td>
    </tr>
    <tr>
        <td colspan="2">
            Hello ${ticket.getFirstName()},<br /><br />
            Just in case you need it - this is your personal authentication code for the NEXT12 Wi-Fi: <b>${passPort}</b><br /><br />
            <img src="${play.Play.configuration.get("application.baseUrl")}/WiFi/qrCode/${passPort.id}" width="200" height="200" alt="Login QR-Code" /><br /><br />
            You can use it to register your devices.<br /><br /><br />
            Or use this link to log in: <a href="${play.Play.configuration.get("application.baseUrl")}${passPort}">${play.Play.configuration.get("application.baseUrl")}${passPort}</a><br /><br /><br />
            Your code is associated with your E-Mail: ${ticket.email}<br /><br />
            Help is available at the accreditation desk.<br /><br /><br />
            Cheers,<br />
            Your SinnerSchrader Wi-Fi Team @ NEXT Berlin 2012
        </td>
    </tr>
</table>
