#{extends 'main.html' /}

<form action="${login.appUrl}" method="post">
    <input name="login.host" type="hidden" value="${login.host}" />
    <input name="login.remoteAddress" type="hidden" value="${login.remoteAddress }" />
    <input name="login.url" type="hidden" value="${login.url}" />
    <input name="login.secure" type="hidden" value="${login.secure}" />
    <input type="submit" value="I'd like to register" />
</form>
<script type="text/javascript"> 
    document.forms[0].submit();
</script>

