html {
    //font-size: 100%; //corrects text resizing oddly in IE7 when body font-size is set using em units
    -webkit-text-size-adjust: 100%; //prevents iOS text size adjust on orientation change w/o disabling user zoom
    -ms-text-size-adjust: 100%;
}

body{
    margin:0;
    padding:20px 0 0;
    font-size:@next-base-fontsize;
    line-height:@next-base-lineheight;
    #next-font > .Arial;
    background:@next-white;
    color:@next-black;
    //text-rendering:optimizeLegibility; /* may cause render issues */
    overflow-y: scroll;
    *+html & {
        overflow-y: auto; //fix IE7 double scrollbar
    }
}
a{
    text-decoration: none;
    color: inherit;
    #next-transition > .short;
    &:hover{
        color: @next-black-hover;
    }
}
p{
    margin:0 0 @next-paragraph-margin 0;
    padding:0;
    a{
        text-decoration:underline;
        &:hover{
          text-decoration: none;
        }
    }
}

form,
fieldset,
legend {
    border:0;
    padding:0;
    margin:0;
}
object{
    display:block;
}
dl,dt,dd,ul,ol,li{
    margin:0;
    padding:0;
    list-style:none;
}
img{
    display: block;
    border:0;
    -ms-interpolation-mode: bicubic;
}
b,strong{
    font-weight:bold;
}
small{
    font-size: 100%; //HTML5 <small> is semantic fineprint
}
object,embed{
    outline:0;
}
address{
    font-style:normal;
    //line-height:@next-paragraph-margin;
    margin:0 0 @next-paragraph-margin 0;
}
iframe{
    display:block;
    border:0;
    background:transparent;
}
table{
    border-width:0;
    border-spacing:0;
    border-collapse:collapse;
    width:100%;
    margin: @next-pageTopPadding 0 @next-pageTopPadding 0;
    caption{
        text-align:left;
    }
    th,td{
        padding:0;
        vertical-align:top;
    }
    th{
        font-weight:normal;
        text-align:left;
    }
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6{
    margin:0 0 0.6em 0;
    padding:0;
    font-weight:normal;
    font-size:100%;
    line-height:normal;
}
.h1, .h2, .h3, .h4, .h5, .h6{
    text-transform: uppercase;
    #next-font > .Klavika;
    //letter-spacing: -1px;
}

.h1{
    //margin:0 0 18px;
    font-size: 36px;
    line-height: 38px;
}
.h2{
    //margin:0 0 14px;
    font-size: 30px;
    line-height: 28px;
}
.h3{
    //margin:0 0 14px;
    font-size: 22px;
    line-height: 24px;
}
.h4{
    //margin:0 0 2px;
    font-size: 18px;
    line-height: 22px;
}
.h5{
    //margin:0 0 2px;
    font-size:14px;
    text-transform: uppercase;
}
.h6{
    //margin:0 0 2px;
    font-size:12px;
    text-transform: uppercase;
}

.print{
    display:none;
}

//iframe.fblike{
//    display: inline-block;
//    border:0;
//    overflow:hidden;
//    width:48px;
//    height:21px;
//}

.progress{
    &:after{
        @width:125px;
        position: absolute;
        z-index: 25;
        top: 50%;
        left: 50%;
        width: @width;
        height: @width;
        margin: @width / -2 0 0  @width / -2;
        content: "";
        opacity: .6;
        background: rgba(0,0,0,1) url("@{next-image-path}/elements/el_loaddark.gif") no-repeat 50% 50%;
        #next-border-radius > .generic(10px);
        #next-transition > .fade;
    }
}
body.progress{
    &:after{
        position: fixed;
    }
}

#container{
    min-width: @next-MinPageWidth - 20px;
    max-width: @next-MaxPageWidth - 20px;
    margin: 0 auto;
    background: @next-white;
    padding: 0 20px;
}

#header{
    overflow: hidden;
    padding: 0 0 10px;
    border-bottom: 1px solid @next-light-grey;
    margin: 0 0 10px;
    .next{
        float: left;
        width: 152px;
        height: 75px;
        #next-tools > .bg("/logos/lg_next.png");
    }
    .dsn{
        float: right;
        img{
            width: 468px;
            max-width: 100%;
            height: auto;
        }
    }
    a{
        display: block;
        height: 100%;
    }
}

#content{
}

#footer{
}
