form{
    max-width: 360px;
}

button,
input,
select,
textarea {
    font-size: 100%; //font-size not inherited in all browsers
    margin: 0; //margins != in IE6/7, FF3+, S5, Chrome
    vertical-align: baseline; //add consistency in all browsers
}

textarea{
    overflow: auto; //rm default vertical scrollbar in IE7/8/9
    vertical-align: top; //improves readability and alignment in all browsers
    //resize: vertical;
}

input[type=radio],
input[type=checkbox]{
    //margin: 3px 5px 0 0;
    padding: 0; //rm padding in IE8/9
    box-sizing: border-box; //box sizing set to content-box in IE8/9
}

.button{
    display: inline-block;
    border: 0;
    font-size:14px;
    line-height: normal;
    font-weight: bold;
    padding: 6px 20px;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    background: @next-light-grey;
    color: @next-black;
    cursor: pointer;
    -webkit-appearance: none;
    #next-font > .Klavika;
    #next-border-radius > .none;
    #next-transition > .short;
    &:hover{
        background-color: @next-black;
        color: @next-light-grey;
    }
    &.disabled{
        opacity: .5;
        cursor: default;
        pointer-events:none;
    }
}

input,
select{
    &[disabled]{
        color:@next-light-grey;
        cursor: not-allowed;
    }
}

input[type=search],
input[type=text],
input[type=email],
input[type=number],
input[type=month],
input[type=tel],
input[type=password],
textarea{
    width: 100%;
    font-size:18px;
    line-height: normal;
    border: 1px solid @next-input-border-grey;
    padding: 5px;
    background-color: @next-grey;
    #next-font > .Klavika;
    #next-box > .border;
    #next-appearance > .textfield;
    &:focus{
        outline:0;
        border-color: @next-black;
    }
    &:hover{
        border-color: @next-black;
    }
}

input.code_grp {
  width: 60px;
}

.formrow {
    margin: 0 0 10px;
    position:relative;
    .formitem{
        display: inline-block;
    }
}

.buttonrow{
    margin: 10px 0 0;
    border-top: 1px solid @next-light-grey;
    padding: 10px 0 0;
    text-align: right;
}

.inforow{
    margin: 20px 0 0;
}

.error{
    position:relative;
    span.tooltip{
        display: block;
    }
    input {
        border-color:@next-red;
        background: mix(@next-white, @next-red, 95%);
    }
}
//
//@labelwidth:200px;
//label,.label {
//    width:@labelwidth;
//    display:inline-block;
//    vertical-align:top;
//    clear:left;
//    line-height:28px;
//    margin:5px 0 5px;
//    
//    &.req {
//        &:after {
//            content: "*";
//            padding: 0 0 0 2px;
//        }
//    }
//    
//}

.tooltip{
    display: none;
    position:absolute;
    right:0;
    top:-30px;
    z-index:1;
    background:@next-white;
    padding:2px 10px;
    font-size:11px;
    color:@next-black;
    white-space:nowrap;
    border: 1px solid @next-input-border-grey;
    pointer-events:none;
    #next-transition > .short;
    #next-shadow > .tiny;
    &:before{
        content : "\00a0";
        position: absolute;
        z-index: 1;
        bottom:-18px;
        left:9px;
        height: 0;
        width: 0;
        border-color:@next-input-border-grey transparent transparent;
        border-style:solid;
        border-width:9px;
    }
    &:after{
        content:"\00a0";
        position:absolute;
        z-index: 2;
        bottom:-16px;
        left:10px;
        display:block;
        width:0;
        height:0;
        border-color:@next-white transparent transparent;
        border-style:solid;
        border-width:8px;
    }
}

input[type=number],
input[type=date]{
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button{
        -webkit-appearance: none;
        margin: 0;
    }
}
