<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>NEXT Berlin 2012 | Wi-Fi Access | Bandwidth provided by DREISECHSNULL – Deutsche Telekom</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}" />
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
</head>
<body>
  <div id="container">
    <div id="header">
      <div class="next"><a href="/">NEXT 2012</a></div>
      <div class="dsn"><a href="http://dreisechsnull.telekom.de/next" target="_blank"><img alt="DREISECHSNULL - Deutsche Telekom AG" src="/WiFi/public/images/logos/lg_dsn.jpg" width="468" height="90" /></a></div>
    </div>
    <div id="content">
        #{doLayout /}
    </div>
  </div>
</body>
</html>
