#{extends 'main.html' /}


<h1 class="h1">Your Code is: <a href="${passPort.baseUrl}">${passPort.id}</a></h1>

<p>Your quick access URL is: <a href="${passPort.baseUrl}${passPort.id}">${passPort.baseUrl}${passPort.id}</a></p>

<p>To access the network now please click <a href="${passPort.baseUrl}${passPort.id}">here</a></p>

<p>We've mailed this information to: ${ticket.email}</p>
<p>You have ${passPort.clients.size()} of ${passPort.maxClients} devices registered</p>

<div><img src="/WiFi/qrCode/${passPort.id}" width="200" height="200" alt="Login QR-Code" /></div>
