#{extends 'main.html' /}

<style type="text/css">
.disable { display: none; }
.granted { background: green; }
.reject { background: red; }
</style>

<div id="register">
Registering...${passPortId}
</div>

<div id="done">

</div>


<script type="text/javascript">
	function grantAccess(result) {
		document.getElementById('register').setAttribute('class', 'disable');
		var done = document.getElementById('done');
		done.innerHTML = result;
		
		if (result == "granted") {
			var dest = "http://dreisechsnull.telekom.de/"
			done.setAttribute('class', 'granted')
		} else {
			var dest = "/WiFi/askLogin"
			done.setAttribute('class', 'reject')
		}
		setTimeout(function() {
			window.location.href=dest;
		}, 3000);
	}
</script>
<script type="text/javascript" src="/WiFi/Pass/port/${passPortId}?rand=${Math.random()}"></script>
