#{extends 'main.html' /}
<h1 class="h1">Search</h1>

<form action="/WiFi/Admin/search/service" class="searchForm" >
  <div class="formrow">
        <div class="formitem">
            <input type="text" placeholder="Query" name="q" />
        </div>
        <div class="formitem">
            <input type="submit" value="Search" class="button" />
        </div>
    </div>
    <div class="inforow">
        <a href="/WiFi/Admin/search/formAttendant" class="openNewAttendant">Add attendant</a>
    </div>
</form>

<table class="searchTable">
    <thead class="h6">
        <th>displayId</th>
        <th>Vorname</th>
        <th>Nachname</th>
        <th>Company</th>
        <th>email</th>
    </thead>
    <tbody>
    </tbody>
</table>

<div class="lightbox printDialog">
    <h2 class="h1">Print preview</h2>
    <ol>
        <li>Lorem</li>
    </ol>
    <!-- <div><img src="/WiFi/public/images/logos/lg_next.png" width="152" height="75" alt="lg_next" /></div> -->
    <form action="/WiFi/Admin/printBadge">
        <select name="printer">
          <option value="BADGES-D4">rechts</option>
          <option value="BADGES-D3">links</option>
        </select>
        <input type="submit" name="cancel" value="Cancel" class="button" />
        <input type="submit" name="print" value="Print" class="button" />
    </form>
</div>

<script type="text/javascript" src="/WiFi/public/javascripts/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/WiFi/public/javascripts/jquery-ui-1.8.19.custom.min.js"></script>
<script>
  $('.searchForm').bind('submit', function(e) {
	  e.preventDefault();
  })
  var $searchBox = $("input[name=q]").autocomplete({
    source: function(e) {
	  var $tbody = $('tbody')
	  $tbody.empty();
      if (this.term.length > 2) {
        $.post($("form").attr("action"), {q:this.term}, function(data) { 
          $tbody.append(data);
        })
      }
    }
  })
  $('.printDialog form input').click(function(e) {
	  e.preventDefault();
	  var $my = $(this)
	  var $printDialog = $my.closest('.printDialog');
	  if ($my.attr('name') == "print") {
		  $.ajax({
				url : $printDialog.find('form').attr('action'),
				type: 'POST',
				data : {
					displayId : $printDialog.find('ol').data('displayidentifier'),
					printer : $printDialog.find('select[name=printer]').val()
				},
				contentType: 'application/x-www-form-urlencoded',
				error : function() {
					alert('druck fehler bitte wiederholen');
				},
				success : function(data) {
					$printDialog.hide();
				}
		 });
	  } else {
		  $printDialog.hide();
	  }
  })
  $('.searchTable tbody tr').live('click', function() {
      var $list = $("<ol>"),
          $row = $(this).clone();
      $row.find("td").each(function(idx,elm){
	    $("<li>").text($(elm).text()).appendTo($list);
	  });
	  $list.attr("data-displayidentifier", $row.data('displayidentifier'));
	  $('.printDialog ol').replaceWith($list);
	  //$('.printDialog img').attr("src","/WiFi/qrCode/"+$row.data('passport'));
	  $('.printDialog').show();
	  
  });
  $('.searchTable tbody tr .displayId').live('click', function() {
		window.location.href="/"+$(this).closest('tr').data('displayidentifier');
    return false;
  })
  $(".lightbox .close").live("click", function(){
    $(this).parents(".lightbox").remove();
  });
  $('.openNewAttendant').click(function(e) {
	e.preventDefault();
    $('.formNewAttendant').remove();
    $.get($(this).attr('href'), function(data) { 
			var $data = $(data)
      var $form = $data.find('form')
      $form.bind('submit', function(e) {
    	  e.preventDefault();
    	  var data = $form.serializeArray();
    	  $.post($form.attr("action"), data, function(result) {
    		  $('.formNewAttendant').remove();
    		  $searchBox.val(result.id)
    		  $searchBox.autocomplete('search', result.ticket.displayIdentifier)
    	  })
      })
      $('body').append($data)
    })

  })
  

</script>

